
.person-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100px;
    width: 42px;
    .person-small {
        height: 100px;
        width: 42px;
    }
    .person-dialog {
        height: 30px;
        width: 42px;
    }
    &:hover {
        -webkit-animation-name: bounce;
        animation-name: bounce
    }
}

.person-run {
    offset-rotate: 0deg;
    animation: move 3s linear infinite;
    animation-direction: alternate;
}
.person-stop {
    animation-play-state: paused;
}
@keyframes move {
    /* 之前语法 */
    100% { offset-distance: 100%;}
    /* 当前规范语法 */
    100% { offset-distance: 100%;}
  }