.shake {
    animation-name: myShake;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.island-container {
    position: absolute;
    transition-duration: 0.5s;
    top: 0;
    left: 0;
    &:hover {
        -webkit-animation-name: pulse;
        animation-name: pulse
    }
    .island-space {
        position: absolute;
    }
    .island-img {
        transform-origin: 0 0;
        transition-duration: 0.5s;
    }
    .island-big {
        z-index: 10;
        .island-img {
            transform: scale(2);
        }
    }
    .label {
        color: #4bffdf;
        font-size: 20px;
    }
}

@keyframes myShake
{
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(20px);
    }
}