$width-size: 75px; // 四边的样式高度
$color-white: rgba(255,255,255,0.4);
$color-opacity: rgba(255,255,255,0);
.hall-background {
    transition-duration: 0.5s;
    
}
.hall-container {
    .edge-guard {
        position: fixed;
        height: 100%;
        width: 100%;
    }
    .edge-left {
        top: 0;
        left: 0;
        width: $width-size;
        &:hover {
            background: linear-gradient(to left, $color-opacity, $color-white);
        }

    }
    .edge-right {
        top: 0;
        right: 0;
        width: $width-size;
        &:hover {
            background: linear-gradient(to right, $color-opacity, $color-white);
        }
    }
}