$width-size: 75px; // 四边的样式高度
$color-white: rgba(255,255,255,0.4);
$color-opacity: rgba(255,255,255,0);
.hall-background {
    transition-duration: 0.5s;
}
.hall-warpper {
    display: flex;
    align-items: center;
    height: 100%;
}
.hall-container {
    height: 750px;
    position: relative;
    .thing-wrapper {
        transition-duration: 0.5s;
        position: absolute;
        top: 0;
        left: 0;
        .pulse-animate {
            &:hover {
                -webkit-animation-name: pulse;
                animation-name: pulse;
            }
        }
        .thing {
            position: absolute;
            top: 0;
            left: 0;
        }
        .pic4{
            left: 3930px;
            top: 90px;
            width: 600px;
        }
        .light3 {
            left: 2336px;
            width: 300px;
            top: 251px;
        }
        .pic3{
            left: 2863px;
            top: 271px;
            width: 480px;
        }
        .musicM2 {
            left: 1593px;
            top: 243px;
            width: 580px;
        }
        .guitar2{
            left: 1627px;
            top: 374px;
            width: 180px;
        }
        .music2 {
            left: 1073px;
            top: -15px;
            width: 654px;
        }
        .picture1 {
            top: 260px;
            left: 24px;
            width: 200px;
        }
        .man {
            width: 300px;
            top: 351px;
            left: 600px;
        }
        .light1 {
            width: 100px;
            top: 254px;
            left: 260px;
        }
        .pic1 { 
            width: 50px;
            top: 300px;
            left: 285px;
        }
        .pic12 {
            top: 141px;
            left: 705px;
            width: 300px;
        }
        .hint1 {
            position: absolute;
            width: 200px;
            color: #4bffdf;
            top: 224px;
            left: 45px;
        }
        .hint2 {
            position: absolute;
            width: 200px;
            color: #4bffdf;
            top: 136px;
            left: 745px;
            transform: rotate(-13deg);
        }
        .hint3 {
            position: absolute;
            width: 200px;
            color: #4bffdf;
            top: 283px;
            left: 3375px;
        }
        .hint4 {
            position: absolute;
            width: 200px;
            color: #4bffdf;
            top: 305px;
            left: 2395px;
        }
        .hint5 {
            position: absolute;
            width: 250px;
            color: #4bffdf;
            top: 330px;
            left: 3375px;
        }
    }
    .edge-guard {
        position: fixed;
        height: 100%;
        width: 100%;
    }
    .edge-left {
        top: 0;
        left: 0;
        width: $width-size;
        &:hover {
            background: linear-gradient(to left, $color-opacity, $color-white);
        }

    }
    .edge-right {
        top: 0;
        right: 0;
        width: $width-size;
        &:hover {
            background: linear-gradient(to right, $color-opacity, $color-white);
        }
    }
}