
.detail-text {
    color: white;
}
.gengyi-text {
    position: absolute;
    top: 280px;
    right: 0px;
}
.dianwan-text {
    position: absolute;
    top: 229px;
    right: 70px;
}
.jingxuan-text {
    position: absolute;
    top: 250px;
    right: 74px;
}
.lvyou-text {
    position: absolute;
    top: 171px;
    right: 78px;
}
.kongjian-text {
    position: absolute;
    top: -50px;
    left: 250px;
}
.jianianhua-text {
    position: absolute;
    top: 306px;
    right: 130px;
}
.guangchang-text {
    position: absolute;
    top: 480px;
    right: 285px;
}